html {
  scrollbar-width: none;
}

body {
  margin: 0;
  background-color: #f3f3f3;
}

body::-webkit-scrollbar {
  display: none;
}

*, *::before, *::after {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
}

button {
  color: #f3f3f3;
  background-color:  #e63946;
  font-size: 1.3rem;
  border-radius: .2em;
  cursor: pointer;
  padding: .7rem 1.5rem;
  margin: 5vh auto;
  border: none;
  outline: none;
}

button:hover, button:focus {
  background-color: grey;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .game {
  display: flex;
  flex-direction: column;
}

.gameTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Bowlby One SC', cursive;
  font-size: 4rem;
  color: #e63946;
}

.playground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.info-container {
  display: flex;
  width: 100%;
  padding-top: 30px;
}

/* Grids */

.grid div {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.miss,
.boom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boom::after,
.miss::after {
  content: '';
  position: absolute;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.miss::after {
  background-color: white;
}

.boom::after {
  background-color: red;
}

.miss::before {
  content: '';
  position: absolute;
  animation: hit .2s ease-out forwards;
  border: 1vmin solid white;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.boom {
  animation: boom .2s ease-out forwards;
  background-color: #CCCCCC;
}

@keyframes hit {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(4);
  }
}

.playerPlace .computerPlace {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.placeName {
  margin: auto;
  text-align: center;
}

.grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #00AAFF;
  margin: auto;
  border-radius: 5px;
}

.grid-computer {
  cursor: pointer;
  margin-left: 5vmin;
}

.grid-playerZone {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 250px;
  margin: auto;
}

.fleet {
  display: flex;
  justify-content: space-around;
}
.rotateMessage {
  text-align: center;
  align-items: flex-start;
}

.grid-infoZone {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  height: 200px;
  margin: auto;
}

.readyMessage {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* Ships */

.ship {
  display: flex;
  flex-wrap: wrap;
  background-color: #CCCCCC;
  margin: 10px;
}

.ship div {
  width: 40px;
  height: 40px;
  cursor: grab;
}

.Destructor-container {
  width: 80px;
  height: 40px;
}

.Destructor-container-vertical {
  width: 40px;
  height: 80px;
}

.Crucero-container,
.Submarino-container {
  width: 120px;
  height: 40px;
}

.Crucero-container-vertical,
.Submarino-container-vertical {
  width: 40px;
  height: 120px;
}

.Acorazado-container {
  width: 160px;
  height: 40px;
}
.Acorazado-container-vertical {
  width: 40px;
  height: 160px;
}

.Portaviones-container {
  width: 200px;
  height: 40px;
}

.Portaviones-container-vertical {
  width: 40px;
  height: 200px;
}

.taken {
  background-color: #CCCCCC;
}