body {
  margin: 0;
  font-family: 'Bowlby One SC', cursive;
  font-family: 'Roboto Mono', monospace;
  background-color: #f3f3f3;
}

.App {
  display: flex;
  flex-direction: column;
}

.playground {
  display: flex;
  width: 100%;
  padding-top: 30px;
}

.info-container {
  display: flex;
  width: 100%;
  padding-top: 30px;
}

/* Grids */

.grid div {
  width: 40px;
  height: 40px;
}

.miss {
  background-color: red;
}

.boom {
  background-color: blue;
}

.grid-player {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  margin: auto;
}

.grid-computer {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: green;
  margin: auto;
  cursor: pointer;
}

.grid-computer-none .grid-playerZone-none .grid-infoZone-none {
  display: none;
}

.grid-playerZone {
  width: 400px;
  height: 400px;
  background-color: yellow;
  margin: auto;
}

.grid-infoZone {
  width: 400px;
  height: 400px;
  background-color: red;
  margin: auto;
}

/* Ships */

.ship {
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  margin: 10px;
}

.ship div {
  width: 40px;
  height: 40px;
  cursor: grab;
}

.Destructor-container {
  width: 80px;
  height: 40px;
}

.Destructor-container-vertical {
  width: 40px;
  height: 80px;
}

.Crucero-container {
  width: 120px;
  height: 40px;
}

.Crucero-container-vertical {
  width: 40px;
  height: 120px;
}

.Submarino-container {
  width: 120px;
  height: 40px;
}

.Submarino-container-vertical {
  width: 40px;
  height: 120px;
}

.Acorazado-container {
  width: 160px;
  height: 40px;
}
.Acorazado-container-vertical {
  width: 40px;
  height: 160px;
}

.Portaviones-container {
  width: 200px;
  height: 40px;
}

.Portaviones-container-vertical {
  width: 40px;
  height: 200px;
}

.Destructor {
  background-color: grey;
}

.Crucero {
  background-color: grey;
}

.Submarino {
  background-color: grey;
}

.Acorazado {
  background-color: grey;
}

.Portaviones {
  background-color: grey;
}